model_list:
  - model_name: dify-gpt4-turbo  # set model name
    litellm_params:
      model: openai/dify
      api_base: http://<< set ip address of host pc >>:<< set DIFY2OPENAI_PORT >>/v1/ # set ip and port
      api_key: "app-xxxxxxxxxxxxxxxxxxxxxxxx" # set api key of dify model
